---
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/BlogCards.astro';
---



<Layout title="Lista de Blogs">

      <BlogCard />

    </div>
  </div>

</Layout>
