---
interface Questions {
  question: string;
  resp: string;
}

const questions: Questions[] = [
  { question: '¿Qué medios de pago aceptan?', resp: 'Transferencia Bancaria y Tarjeta de Crédito. Pagas una vez hecha la entrega.' },
  { question: '¿Hacen entregas a domicilio?', resp: 'Sí, los pedidos pueden ser entregados a domicilio.' },
  { question: '¿Cuánto es el valor del envío?', resp: 'El costo de envío depende de la ubicación donde se realizará la entrega.' },
];
---
<div class="flex flex-col mt-8 items-center justify-center">
    <div class="w-full bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:max-w-2xl sm:rounded-lg sm:px-10">
      <div class="px-5">
        <div class="flex flex-col items-center">
          <h2 class="mt-5 text-3xl font-bold tracking-tight md:text-5xl">Preguntas Frecuentes</h2>
          <p class="mt-3 text-lg text-neutral-500 md:text-xl">FAQ</p>
        </div>
        <div class="mt-8 grid max-w-xl divide-y divide-neutral-200">
          {questions.map(item => (
            <div class="py-5">
              <details class="group">
                <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                  <span>{item.question}</span>
                  <span class="transition group-open:rotate-180">
                    <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p class="group-open:animate-fadeIn mt-3 text-neutral-600">{item.resp}</p>
              </details>
            </div>
          ))}
        </div>
      </div>
    </div>