---

---

<footer class="bg-yellow-50 border-t border-gray-200 px-4 lg:px-6 py-6 mt-10 w-full">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
    <a href="/" class="flex items-center">
      <img src='../../public/logo-1.png' class="mr-3 h-6 sm:h-9 lg:h-14" alt="Logo" />
      <p class="flex flex-row text-center text-gray-700 text-sm">
        &copy; {new Date().getFullYear()} GiftJoy. Todos los derechos reservados.
      </p>
    </a>
    <div class="flex flex-row lg:space-x-1 mt-4 lg:mt-0">
      <p>Teléfonos: 3204-8232 / 2203-1228</p>
    </div>
  </div>
</footer>
