---
interface ImgList {
  url_img: string;
}

const imgList: ImgList[] = [
  { url_img: 'https://blogger.googleusercontent.com/img/a/AVvXsEhdMmOVLfCmNGPrXA-L1HXFJVPL7-I4eC3ue9cx5NNmbWoovdg5O2cDxWqPfgABNB3pcVeoeV8AvCXda64QkIvH-yJivTzH7RW8ytUUrHiYNIjmaVZ5x-Zf4kUTCrRAvTBOPUbmomh0lkAMHk63CFXervMD2AoAIONvybrpUbQe_17QKzwJ_OcGy-OLXM7W' },
  { url_img: 'https://blogger.googleusercontent.com/img/a/AVvXsEjXbQuoXOOgyS6hG5O2m9f_8ZpSHV-RCyaWvLGkQs42-4b33qki9FTrxVgUN_EneY9DG7MB1ezwJKlS-3jrYJPFOgX1ynZdpm1DTYFcVI_ycNgID2J6BcRfGGs36DZEJQVdn0CxH5nb1dVeAnvrZopC_CRWBcQN7woY72u5vMLBoeVRwjNuhMY29D6wYnLs' },
  { url_img: 'https://blogger.googleusercontent.com/img/a/AVvXsEhKss4uM8LvxW2ZRe4bgk8JBAjJb-S1dsn1LXgEUW1jH8pc7CrrzbI9xaoRPnfF4tNimMQv-YeUxu-_ASxhFE9kFyIHM3AXUp67-fBy-_-zy7Ibos1UEkATzVi9BAK3XWTXOPA4uQvcBwf8XB7bUWT13-ZepY6RAjX_Dlz-x8PyJsP5Row_z5hLrjb7rldb' },
  { url_img: 'https://blogger.googleusercontent.com/img/a/AVvXsEjhBUHTCUkRxYi2d0x2BouASajEOfYxnoc4K-zWuxrxBhpRARVKMvkPdcOIaX8YCnCzisTzrR8X_3ozeXkPxjSkpaR_qXmGlQAaNJvKrfFt0Gk9VsJ2fUtqg-2eGHifzQYmhk578SdqegQwGbOQKzWn040FWhfZBN1CkNNSjJhyjN31XDK1JE1vBFKWsWdJ' },
  { url_img: 'https://blogger.googleusercontent.com/img/a/AVvXsEim47YnVjg04QUlxpXzxgeoNgEG8rVCzYcP9_dZA130JmMRJ2sXw2udMEM7IAgT8Jq2gR2D9RclyY7roLbOePCiwd93dGewhjyYwW3eBunKzxqNi2aWngJZUmp-T1rmfaj7zJ46s-N7JEUvnhZA1db5HpzfJKvaHhl_G0w0qtp8R2ExDF79ykbw33MmpN84' },
  { url_img: 'https://blogger.googleusercontent.com/img/a/AVvXsEjn6v0RyOTkm4xUU6z0ZfoiVM0HRng8Sjx7ag4JEM3IT7Tg56DUpGVUzrDEOVQt-aYv4cv0F6yT-WklmQYyYKwyFYHlSiTk4DaoUcCixTmLSR0zLH29ZnescBuw724bKju5ayujB1bqIAVOp1QUSbDvSucPpzmU8s6wqNiPluf2jbGDg2r5EuNyPQhhevFC' }
];
---

<section class="text-black body-font bg-yellow-200">
    <div class="container mx-auto px-5 py-5">
      <div class="flex flex-col items-center sm:flex-row">
        <div class="lg:flex-grow text-center md:text-left mb-16 md:mb-0">
            <h1 class="title-font tracking-wide sm:text-3xl md:text-6xl xl:text-7xl mb-4 font-bold">
                PRODUCTOS <span class="text-red-300">MEMORABLES</span>
              </h1><p class="leading-relaxed opacity-50">
            ¡En nuestro mundo, los regalos no son solo regalos! Son explosiones de cariño.



Cada regalo personalizado es una pizca de alegría y un recuerdo que durará para siempre.



En cada detalle, dejamos toneladas de amor y cariño, creando un ambiente de celebración que hará que la persona que lo reciba se sienta como un rey o una reina.  </p>
        </div>
        <div id="pattern" class="px-10 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-4">
          <!-- Utilizando map para mostrar las imágenes -->
          {imgList.map((img, index) => (
            <div class="relative overflow-hidden rounded-xl aspect-w-1 aspect-h-1">
              <img class="object-cover object-center w-full h-full" alt={`img-${index}`} src={img.url_img} />
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>
  
  